[submodule "crates.io-index"]
	path = crates.io-index
	url = https://github.com/rust-lang/crates.io-index

[submodule "rust"]
	path = rust
	url = https://github.com/Yinwhe/rust
[submodule "Code/cargo_ruf/ruf_audit"]
	path = Code/cargo_ruf/ruf_audit
	url = https://github.com/Yinwhe/ruf-audit.git
